@import url('https://fonts.googleapis.com/css2?family=Abel&family=Quicksand&display=swap');

*{
    margin:0;
    padding:0;
    border:0;
}

body {
    font-family: Abel, sans-serif;
}

    /*--heading and logo--*/

h1, h2 {
    font-family: Quicksand, sans-serif;
    letter-spacing: 2px;
    color:#4B4453;
}   

#logo {
    float:left;
    font-size: 300%;
    margin: 20px 0 0 40px;
}

#logo:hover {
    color:#00896F;
    transition: .3s;
}

/*--navigation home,book,contact links---*/
.active {
    padding:0 15px 0 15px;
    background-color: #b0a8b91a;
    border: 1px solid #00897086;
    border-radius: 20px;
}

#navigation_links {
    font-size: 150%;
    letter-spacing: 2px;
}

#logo #navigation_links {
    line-height: 100px;
}

#navigation_links li {
    float:right;
    list-style-type: none;
    margin: 40px 50px 0 0;
}

#navigation_links a {
    text-decoration: none;
    color:#4B4453;
}

#navigation_links a:hover {
    color:#00896F;
    transition: .3s;
}


/*---image of dogs and main text--*/



#image-main-text {
    height: 700px;
    width:100%;
    overflow: hidden;
    background-color: #b0a8b91a;
}

#dog-image, #celebrity-care {
    display: inline-block;
}

#celebrity-care > p {
    text-align: right;

}

#dog-image {
    height: 500px;
    width: 50%;
    margin:0 auto;
    padding-top: 10%;
    padding-left: 10%;
    background: url(../images/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDIyLTA1L3M2OS1iZWVyLTAzLmpwZw.webp) no-repeat center center;
    animation-name: dog-img;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}
/*--zoom animation for dog image--*/

@keyframes dog-img {
    from {
        transform: scale(0.7);
    }
    to {
        transform: scale(1);
    }
}

#celebrity-care {
    width:350px;
    height: 350px;
    position: absolute;
    margin:0;
    padding-top:10%;
    padding-left:10%;
    font-size: 300%;
    line-height: 50px;
    letter-spacing: 2px;
}

#book-now {
    padding:5px 30px 5px 30px;
    line-height: 100px;
    text-decoration: none;
    color: white;
    background-color: #008970c4;
    border: 1px solid #b0a8b91a;
    border-radius: 40px;
}

#book-now:hover {
    background-color: #00896F;
    border-color: #b0a8b91a;
    transition: .3s;
}

/*--our vision section--*/

#vision-text {
    position:relative;
    height: 500px;
    width: 100%;
    margin:0;
    padding-top: 100px;
}

#main-name {
    font-size: 200%;
    text-align: center;
}

#info {
    height:400px;
    width:80%;
    background-color: #008970c4;
    border: 1px solid white;
    border-radius: 100px;
    margin: auto;
}

#info:hover {
    background-color: #00896F;
    transition: .5s;
}

#content {
    color:white;
    text-align: center;
    font-size: 130%;
    padding: 30px 50px;
}

#content h2 {
    line-height: 70px;
    color:white;
}

#content p {
    font-size: 120%;

}

/*--footer--*/

#end-page {
    padding-top: 50px;
   
}

#footer {
    margin: auto;
    width: 98%;
    line-height: 70px;
    background-color: #b0a8b942;
    border: 1px solid white;
    border-radius: 30px;
}

#footer > h2 {
    color: #4B4453;
    padding-right: 20px;
    text-align: right;
    font-size: 110%;
}

/*----booking form---*/

#booking-section {
    font-size: 110%;
    overflow: hidden;
    background-color: #b0a8b91a;
    height:700px;
    width:100%;
}

.booking-form {
    margin: 70px 10% 0 0;
    height:500px;
    width:30%;
    background-color: #008970c4;
    position: absolute;
    left:15%;
    padding:30px;
    color:white;
    border: 1px solid #b0a8b91a;
    border-radius: 50px;
}

.booking-form:hover {
    background-color:#00896F;
    transition: 0.5s;

}

.booking-form h2 {
    color:white;
    padding: 10px;
}

.input-text {
    font-size:150%;
    color:#4B4453;
    width:100%;
    margin: 10px 0 20px 0;
    line-height: 40px;
    border: 1px solid #00897086;
    border-radius: 10px;
}

.book-button {
    font-family: Abel, sans-serif;
    margin-top: 10px;
    margin-left: 400px;
    display:block;
    font-size: 150%;
    background-color: white;
    border: 2px solid #00897086;
    border-radius: 30px;
    padding: 5px 35px 5px 35px;
    color:#4B4453;
}

.book-button:hover {
    color:#00896F;
    border-color: #008970;
}

#form-img img {
    border: 1px solid #b0a8b91a;
    border-radius: 20px;
    margin:50px 30px 0 0;
    float:right;
    max-width: 900px;
    animation-name: form-img;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

/*--zoom animation for form image--*/

@keyframes form-img {
    from {
        transform: scale(0.8);
    }
    to {
        transform: scale(1);
    }
}

/*--services list--*/

#service > h2{
    font-size: 200%;
    margin: 0;
    padding:30px 0 0 0;
    text-align: center;
}

#list-services {
    padding:50px;
    font-size: 140%;
    max-width: 600px;
    margin-top:30px;
    margin-left: 32%;
    border: 2px solid #00897086;
    border-radius: 20px;
}


/*--enquiry message--*/

#enquiry-message {
    overflow: hidden;
    height: 700px;
    width: 100%;
    background-color:#b0a8b91a;
}

#paw-img img {
    border: 1px solid #b0a8b91a;
    border-radius: 20px;
    margin: 50px 0 0 200px;
    float:left;
    max-width: 900px;
    animation-name: paw-img;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

/*--zoom animation for paw image--*/

@keyframes paw-img {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}

#enquiry {
    color:white;
    text-align: center;
    padding: 20px;
    float:right;
    margin-top:100px;
    margin-right: 10%;
    font-size: 150%;
    max-width: 500px;
    background-color: #008970c4;
    border: 1px solid #b0a8b91a;
    border-radius: 20px;
}

#enquiry h2 {
    color:white;
    text-align: center;
}

#enquiry:hover {
    background-color: #008970;
    transition: 0.5s;
}

#enquiry textarea {
    border: 1px solid #00897086;
    border-radius: 5px;
    font-family: Abel, sans-serif;
    font-size: 100%;
}

.send-button {
    font-family: Abel, sans-serif;
    font-size: 100%;
    background-color: white;
    border: 2px solid #00897086;
    border-radius: 30px;
    padding: 5px 35px 5px 35px;
    color:#4B4453
}

.send-button:hover {
    color:#00896F;
    border-color: #008970;
}

/*--social media links---*/

#social-link {
    margin: 40px 0 0 0;
    text-align: center;
}

#social-link li {
    display: inline;
}

#social-link i {
    font-size: 250%;
    margin: 0 40px;
    color: #008970c4;
}

#social-link i:hover {
    color:#008970;
    transition: 0.1s;
}

#social h2 {
    padding-top:50px;
    text-align: center;
}

/*---opening times, phone contact--*/

#opening-times {
    margin-top: 40px;
    text-align: center;
    font-size: 150%;
    color:#4B4453
}

#opening-times table {
    margin: 0 auto;
}

#phone-contact {
    text-align: center;
    margin-top: 40px;
    font-size: 150%;
}

#phone-contact p {
    font-size: 140%;
    color:#4B4453;
}

/*---location---*/

#location {
    font-size: 150%;
    margin-top: 40px;
    text-align: center;
}

#location i {
    color:#008970c4;
    font-size: 170%;
}

#location i:hover {
    color:#008970;
    transition: 0.1s;
}

/*--For medium screen sizes from 1200 wide and down--*/

@media screen and (max-width:1200px) {
    #navigation_links li {
        margin: 40px 20px 0 0;
    }

    #navigation_links {
        font-size: 130%;
        margin-right:2%;
    }

    #dog-image {
        height: 500px;
        width: 30%;
        margin-top:30px;
    }

    #content {
        padding-top: 10px;
        font-size: 110%;
    }

    .booking-form {
        margin-left:7%;
        margin-top:5%;
        height:500px;
        width:50%;
    }

    .book-button {
        margin-left: 300px;
    }

    #form-img img {
        display:none;
    }

    #list-services {
       margin: 0 auto;
    }

    #paw-img img {
        margin-left:50%;
        margin-top:7%;
        max-width: 800px;
    }

    #enquiry {
        margin-top: 10%;
        margin-left: 10%;
        position: absolute;
    }
}

/*--For small screen sizes from 800 wide and down--*/

@media screen and (max-width:800px) {
    #navigation_links li {
        margin: 40px 10px 0 0;
    }

}